@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(LangHelper.WhichLang());
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForPrint"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForExcel"));
@Html.Raw(Html.LangOutJsVar("Public_Print_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));

@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field1"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field2"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field3"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field4"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field5"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field6"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field7"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field8"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field9"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field10"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_Field11"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_ToolBar1"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_ToolBar2"));
@Html.Raw(Html.LangOutJsVar("QueryExceptionWayBill_JS_ToolBar3"));

</script>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.GetLangbyKey("QueryExceptionWayBill_Html_Title")</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/JS/QueryExceptionWayBill.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
</head>
<body>
    <div id="toolBar" style="padding: 2px; height: auto">
        <div>
            <a href="#" class="easyui-linkbutton" id="btnQuery" iconcls="icon-search" plain="true">
                @Html.GetLangbyKey("QueryExceptionWayBill_Html_Label1")</a>|<a href="javascript:void(0)"
                    id="menuButtonReport" class="easyui-menubutton" data-options="menu:'#menuButtons',iconCls:'icon-report'">@Html.GetLangbyKey("QueryExceptionWayBill_Html_Label2")</a>
            <div id="menuButtons" style="width: 150px;">
                <div id="btnPrint" name="btnPrint" data-options="iconCls:'icon-print'">
                    @Html.GetLangbyKey("QueryExceptionWayBill_Html_Label3")</div>
                <div id="btnExcel" name="btnExcel" data-options="iconCls:'icon-excel'">
                    @Html.GetLangbyKey("QueryExceptionWayBill_Html_Label4")</div>
            </div>
        </div>
        <div>
            @Html.GetLangbyKey("QueryExceptionWayBill_Html_Label5"):<input type="text" id="txtBeginD" name="txtBeginD" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" class="Wdate"  value='@(DateTime.Now.ToString("yyyy-MM-01 00:00:00"))' style="width:160px"/>---<input
            type="text" id="txtEndD" name="txtEndD" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" class="Wdate"   value='@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))' style="width:160px"/>
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.GetLangbyKey("QueryExceptionWayBill_Html_Label6"):<input
                type="text" id="ddlStation" name="ddlStation" />&nbsp;&nbsp;&nbsp;@Html.GetLangbyKey("QueryExceptionWayBill_Html_Label7"):<input
                    type="text" id="ddlFeeType" name="ddlFeeType" /><br />@Html.GetLangbyKey("QueryExceptionWayBill_Html_Label8"):<input
                        type="text" id="ddlExceptionType" name="ddlExceptionType" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.GetLangbyKey("QueryExceptionWayBill_Html_EmpNO"):<input
                            type="text" id="ddlEmpNO" name="ddlEmpNO" />
        </div>
    </div>
    <div id="DG_ExceptionWayBill" fit="true">
    </div>
</body>
</html>
