@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(LangHelper.WhichLang());
@Html.Raw(Html.LangOutJsVar("Default_JS_defaultTabTitle"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_AskForExit"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForPrint"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForExcel"));
@Html.Raw(Html.LangOutJsVar("Public_Print_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Save"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Close"));

@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_Field1"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_Field2"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_Field3"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_btnQuery"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_btnAdd"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_btnUpdate"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_btnDelete"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_btnSeleAll"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_btnInverseSele"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_btnPrint"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_btnExcel"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_ErrorTip1"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_ErrorTip2"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_ErrorTip3"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_ErrorTip4"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_ErrorTip5"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_AddEmployee"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_UpdateEmployee"));
@Html.Raw(Html.LangOutJsVar("EmployeeManagement_JS_DeleteAsk"));
</script>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.GetLangbyKey("EmployeeManagement_Html_Title")</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Highcharts/js/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Highcharts/js/modules/exporting.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/EmployeeManagement.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
</head>
<body>
    <div id="DG_Employee" fit="true">
    </div>
    <div id="dlg_Create_Employee" data-options="iconCls:'icon-save'" style="padding: 5px;">
        <table>
            <tr>
                <td>
                    @Html.GetLangbyKey("EmployeeManagement_Html_EmpNO")
                </td>
                <td>
                    <input type="text" id="txtEmpNO" name="txtEmpNO" />
                    <input type="hidden" id="hd_EmpId" name="hd_EmpId" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("EmployeeManagement_Html_EmpName")
                </td>
                <td>
                    <input type="text" id="txtEmpName" name="txtEmpName" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("EmployeeManagement_Html_EmpDept")
                </td>
                <td>
                    <input type="text" id="ddlEmpDepartment" name="ddlEmpDepartment"  style="width:300px"/>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
