@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(LangHelper.WhichLang());
@Html.Raw(Html.LangOutJsVar("Default_JS_defaultTabTitle"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_AskForExit"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForPrint"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForExcel"));
@Html.Raw(Html.LangOutJsVar("Public_Print_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Save"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Close"));

@Html.Raw(Html.LangOutJsVar("MapPortView_JS_Menu1"));
@Html.Raw(Html.LangOutJsVar("MapPortView_JS_Menu2"));
@Html.Raw(Html.LangOutJsVar("MapPortView_JS_Menu3"));
</script>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.GetLangbyKey("MapPortView_Html_Title")</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Highcharts/js/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Highcharts/js/modules/exporting.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/MapPotView.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Css/MapPot.css")"   rel="stylesheet"  type="text/css" />
</head>
<body id="body_Main" style="margin: 0px; position: absolute;">
    <img src="" id="img_Map" />
    <div id="editMapPortMemu" class="easyui-menu" style="width: 100px;">
        <div id="mnu_ViewMapPort_Detail" name="mnu_ViewMapPort_Detail">
            @Html.GetLangbyKey("MapPortView_Html_Menu1")</div>
    </div>
    <input type="hidden" id="hid_MapId" name="hid_MapId" runat="server"  value='@ViewData["hid_MapId"]'/>
    <input type="hidden" id="hid_MapName" name="hid_MapName" runat="server"   value='@ViewData["hid_MapName"]'/>
    <input type="hidden" id="hid_MapPath" name="hid_MapPath" runat="server"   value='@ViewData["hid_MapPath"]'/>
    <input type="hidden" id="hid_GroupName" name="hid_GroupName" runat="server"   value='@ViewData["hid_GroupName"]'/>
    <input type="hidden" id="hid_MapPotId" name="hid_MapPotId" runat="server"   value='@ViewData["hid_MapPotId"]'/>
</body>
</html>
