@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(LangHelper.WhichLang());
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Save"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Close"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip1"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip2"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip3"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip4"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip5"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip6"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip7"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip8"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip9"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip10"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip11"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip12"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip13"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_ErrorTip14"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_DialogTitle1"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_DialogTitle2"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_DialogTitle3"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_DialogTitle4"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_DialogTitle5"));
@Html.Raw(Html.LangOutJsVar("GroupManagement_JS_DialogTitle6"));
</script>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.GetLangbyKey("GroupManagement_Html_Title")</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/JS/GroupManagement.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
</head>
<body style="padding: 0px; margin: 0px">
    <div style="background: #EFEFEF; width: 100%;">
        <a href="javascript:void(0)" id="btnQuery" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'">
            @Html.GetLangbyKey("GroupManagement_Html_btnQuery")</a> <a href="javascript:void(0)" id="btnAddCompany" class="easyui-linkbutton"
                data-options="plain:true,iconCls:'icon-add'">@Html.GetLangbyKey("GroupManagement_Html_btnAddCompany")</a><a href="javascript:void(0)"
                    id="btnAdd" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">
                    @Html.GetLangbyKey("GroupManagement_Html_btnAdd")</a> <a href="javascript:void(0)" id="btnUpdate" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">
                        @Html.GetLangbyKey("GroupManagement_Html_btnUpdate")</a> <a href="javascript:void(0)" id="btnDelete" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">
                            @Html.GetLangbyKey("GroupManagement_Html_btnDelete")</a> <a href="javascript:void(0)" id="btnExpandAll" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-mini-expand'">
                                @Html.GetLangbyKey("GroupManagement_Html_btnExpandAll")</a><a href="javascript:void(0)" id="btnCollapseAll" class="easyui-linkbutton"
                                    data-options="plain:true,iconCls:'icon-mini-collapse'">@Html.GetLangbyKey("GroupManagement_Html_btnCollapseAll")</a>
    </div>
    <div id="dlg_CreateCompany" data-options="iconCls:'icon-save'" style="padding: 1px;
        width: 300px; height: 150px;">
        <br />
        <center>
            @Html.GetLangbyKey("GroupManagement_Html_Label1")：(<font style="color: Red; font-weight: bold">@Html.GetLangbyKey("GroupManagement_Html_Label2")</font>)<br />
            <br />
            <input type="text" id="txtCompanyName" name="txtCompanyName" class="easyui-validatebox"
                required="true" style="width: 300px" /></center>
    </div>
    <div id="dlg_Create" data-options="iconCls:'icon-save'" style="padding: 1px; width: 300px;
        height: 150px;">
        <br />
        <center>
            <table>
                <tr>
                    <td>
                        @Html.GetLangbyKey("GroupManagement_Html_Label3"):
                    </td>
                    <td>
                        <span id="span_ParentDepart_Create"></span>
                        <input type="hidden" id="hid_ParentDepartId" name="hid_ParentDepartId" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.GetLangbyKey("GroupManagement_Html_Label4"):
                    </td>
                    <td>
                        <input type="text" id="txtSubDepart_Create" name="txtSubDepart_Create" class="easyui-validatebox"
                            required="true" style="width: 250px" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div id="dlg_Update" data-options="iconCls:'icon-save'" style="padding: 1px; width: 300px;
        height: 150px;">
        <br />
        <center>
            <table>
                <tr>
                    <td>
                        @Html.GetLangbyKey("GroupManagement_Html_Label5"):
                    </td>
                    <td>
                        <span id="span_OldDepartName"></span>
                        <input type="hidden" id="hid_DepartId" name="hid_DepartId" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.GetLangbyKey("GroupManagement_Html_Label6"):
                    </td>
                    <td>
                        <input type="text" id="txtNewDepartName" name="txtNewDepartName" class="easyui-validatebox"
                            required="true" style="width: 250px" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div id="TVDepart" name="TVDepart" fit="true">
    </div>
    <div id="mm" class="easyui-menu" style="width: 120px;">
        <div id="divQuery" data-options="iconCls:'icon-search'">
            @Html.GetLangbyKey("GroupManagement_Html_Menu1")</div>
        <div id="divAddCompany" data-options="iconCls:'icon-add'">
            @Html.GetLangbyKey("GroupManagement_Html_Menu2")</div>
        <div id="divAdd" data-options="iconCls:'icon-add'">
            @Html.GetLangbyKey("GroupManagement_Html_Menu3")</div>
        <div id="divUpdate" data-options="iconCls:'icon-edit'">
            @Html.GetLangbyKey("GroupManagement_Html_Menu4")</div>
        <div id="divDelete" data-options="iconCls:'icon-remove'">
            @Html.GetLangbyKey("GroupManagement_Html_Menu5")</div>
        <div id="divExpand" data-options="iconCls:'icon-mini-expand'">
            @Html.GetLangbyKey("GroupManagement_Html_Menu6")</div>
        <div id="divCollapse" data-options="iconCls:'icon-mini-collapse'">
            @Html.GetLangbyKey("GroupManagement_Html_Menu7")</div>
    </div>
</body>
</html>
