@using ServiceCenter.Models;
<!DOCTYPE html>
<script type="text/javascript">
@Html.Raw(Html.LangOutJsVar("Default_JS_Monday"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Tuesday"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Wednesday"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Thursday"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Friday"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Saturday"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Sunday"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Morning"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Midnight"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Noon"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Afternoon"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Evening"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Night"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Year"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Month"));
@Html.Raw(Html.LangOutJsVar("Default_JS_Day"));
</script>
<html>
<head>
    <title>@Html.GetLangbyKey("Default_Html_Title")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/util.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Site.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <style type="text/css">
        .cls_vertmenu
        {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 100%;
            width: 135px;
            padding: 0px;
            margin: 0px;
        }
        .cls_vertmenu ul
        {
            list-style: none;
            margin: 0px;
            padding: 0px;
            border: none;
        }
        .cls_vertmenu ul li
        {
            margin: 0px;
            padding: 0px;
        }
        .cls_vertmenu ul li a
        {
            font-size: 100%;
            display: block;
            border-bottom: 1px dashed #C39C4E;
            padding: 7px 4px 7px 4px;
            text-decoration: none;
            color: #666666;
            width: 135px;
        }
        .cls_vertmenu ul li a:hover, .cls_vertmenu ul li a:focus
        {
            color: #000000;
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
