@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(Html.LangOutJsVar("Default_JS_defaultTabTitle"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_AskForExit"));
@Html.Raw(LangHelper.WhichLang());
</script>
@{
    Layout = "~/Views/Default/_Layout.cshtml";
}
<div id="layout_Main" class="easyui-layout" data-options="fit:true,border:false">
    <div region="north" split="false" style="height: 30px; padding: 2px" border="true">
        <span style="float: left; font-weight: bold; font-size: medium">&nbsp;&nbsp;&nbsp; @Html.GetLangbyKey("Default_Html_CurrentUser"):<font
            style="color: Red">@Session["Global_UserName"]</font>&nbsp;&nbsp;&nbsp;</span><span
                style="float: left; font-weight: bold; font-size: medium">@Html.GetLangbyKey("Default_Html_Label1"):<font
                    style="color: Red">@Session["Global_GroupName"]</font>&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="float: right"><span id="lblCurrentDate"></span>&nbsp;&nbsp;&nbsp;<a href="#"
                            id="btnRelogin" class="easyui-linkbutton" data-options="iconCls:'icon-exit'">@Html.GetLangbyKey("Default_Html_Exit")</a>&nbsp;&nbsp;&nbsp;</span>
        @{
            string controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
            string action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
            string lang = ViewContext.Controller.ValueProvider.GetValue("lang").RawValue.ToString();
        }
        @Html.ActionLink("中文", action, new { Controller = controller, lang = "zh-CN" }, new { @class = "btn-a" })
        @Html.ActionLink("English", action, new { Controller = controller, lang = "en-US" }, new { @class = "btn-a" })
    </div>
    <div region="west" split="true" style="width: 150px;" border="false">
        <div id="LeftNavigation" class="easyui-accordion" fit="true">
            <div title="@Html.GetLangbyKey("Default_Html_LeftNavigation_Title2")" style="overflow: auto;" iconcls="icon-huayu-instore">
                <div class="cls_vertmenu">
                    <ul>
                        <li><a href="#" id="btnGroupManagement" name="btnGroupManagement" tabindex="1">@Html.GetLangbyKey("Default_Html_btnGroupManagement")</a></li>
                      
                        <li><a href="#" id="btnUserManagement" name="btnUserManagement" tabindex="1">@Html.GetLangbyKey("Default_Html_btnUserManagement")</a></li>
                        <li><a href="#" id="btnEmployeeManagement" name="btnEmployeeManagement" tabindex="1">@Html.GetLangbyKey("Default_Html_LeftNavigation_Title6")</a></li>
                    </ul>
                </div>
            </div>
            <div title="@Html.GetLangbyKey("Default_Html_LeftNavigation_Title1")" style="overflow: auto;" iconcls="icon-huayu-instore">
                <div class="cls_vertmenu">
                    <ul>
                        <li><a href="#" id="btnStatisticByHour_WayBill" name="btnStatisticByHour_WayBill"
                            tabindex="1">@Html.GetLangbyKey("Default_Html_btnStatisticByHour_WayBill")</a></li>
                        <li><a href="#" id="btnStatisticByDay_WayBill" name="btnStatisticByDay_WayBill" tabindex="1">@Html.GetLangbyKey("Default_Html_btnStatisticByDay_WayBill")</a></li>
                        <li><a href="#" id="btnStatisticByMonth_WayBill" name="btnStatisticByMonth_WayBill"
                            tabindex="1">@Html.GetLangbyKey("Default_Html_btnStatisticByMonth_WayBill")</a></li>
                    </ul>
                </div>
            </div>
            <div title="@Html.GetLangbyKey("Default_Html_LeftNavigation_Title3")" style="overflow: auto;" iconcls="icon-huayu-instore">
                <div class="cls_vertmenu">
                    <ul>
                        <li><a href="#" id="btnStatisticFeeByMonth" name="btnStatisticFeeByMonth" tabindex="1">
                            @Html.GetLangbyKey("Default_Html_btnStatisticFeeByMonth")</a></li>
                        <li><a href="#" id="btnStatisticFeeByMonth_Pie" name="btnStatisticFeeByMonth_Pie"
                            tabindex="1">@Html.GetLangbyKey("Default_Html_btnStatisticFeeByMonth_Pie")</a></li>
                    </ul>
                </div>
            </div>
            <div title="@Html.GetLangbyKey("Default_Html_LeftNavigation_Title4")" style="overflow: auto;" iconcls="icon-huayu-instore">
                <div class="cls_vertmenu">
                    <ul>
                        <li><a href="#" id="btnQueryExceptionWayBill" name="btnQueryExceptionWayBill" tabindex="1">
                            @Html.GetLangbyKey("Default_Html_btnQueryExceptionWayBill")</a></li>
                    </ul>
                </div>
            </div>
            <div title="@Html.GetLangbyKey("Default_Html_LeftNavigation_Title11")" style="overflow: auto;" iconcls="icon-huayu-instore">
                <div class="cls_vertmenu">
                    <ul>
                        <li><a href="#" id="btnDeviceManagement" name="btnDeviceManagement" tabindex="1">@Html.GetLangbyKey("Default_Html_LeftNavigation_Title7")</a></li>
                          <li><a href="#" id="btnEquipmentManagement" name="btnEquipmentManagement" tabindex="1">@Html.GetLangbyKey("Default_Html_btnEquipmentManagement")</a></li>
                        @*<li><a href="#" id="btnChannelManagement" name="btnChannelManagement" tabindex="1">设备通道管理</a></li>*@
                    </ul>
                </div>
            </div>
            <div title="@Html.GetLangbyKey("Default_Html_LeftNavigation_Title12")" style="overflow: auto;" iconcls="icon-huayu-instore">
                <div class="cls_vertmenu">
                    <ul>
                        @*<li><a href="#" id="btnQueryPDF" name="btnQueryPDF" tabindex="1">图片查询</a></li>*@
                        <li><a href="#" id="btnQueryPic" name="btnQueryPic" tabindex="1">@Html.GetLangbyKey("Default_Html_LeftNavigation_Title8")</a></li>
                    </ul>
                </div>
            </div>
            <div title="@Html.GetLangbyKey("Default_Html_LeftNavigation_Title13")" style="overflow: auto;" iconcls="icon-huayu-instore">
                <div class="cls_vertmenu">
                    <ul>
                        <li><a href="#" id="btnMapDesign" name="btnMapDesign" tabindex="1">@Html.GetLangbyKey("Default_Html_LeftNavigation_Title9")</a></li>
                         <li><a href="#" id="btnMapReal" name="btnMapReal" tabindex="1">@Html.GetLangbyKey("Default_Html_LeftNavigation_Title10")</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div region="center" style="background: #eee;" border="false" split="true">
        <div id="tab_Content" class="easyui-tabs" fit="true" border="false">
            <div title="@Html.GetLangbyKey("Default_Html_tab_Content_1")" style="padding: 0px;">
            </div>
        </div>
    </div>
    <div region="south" split="true" style="height: 30px;" border="false">
        <div align="center">
            CopyRight@2006-2012 <a target="_blank" href="http://www.chinabetter.com">www.chinabetter.com</a></div>
    </div>
</div>
<div id="mm" class="easyui-menu" style="width: 250px; display: none">
    <div id="mm-tabupdate" iconcls="icon-reload">
        @Html.GetLangbyKey("Default_Html_mm_tabupdate")</div>
    <div class="menu-sep">
    </div>
    <div id="mm-tabclose">
        @Html.GetLangbyKey("Default_Html_mm_tabclose")</div>
    <div id="mm-tabcloseall">
        @Html.GetLangbyKey("Default_Html_mm_tabcloseall")</div>
    <div id="mm-tabcloseother">
        @Html.GetLangbyKey("Default_Html_mm_tabcloseother")</div>
    <div class="menu-sep">
    </div>
    <div id="mm-tabcloseright">
        @Html.GetLangbyKey("Default_Html_mm_tabcloseright")</div>
    <div id="mm-tabcloseleft">
        @Html.GetLangbyKey("Default_Html_mm_tabcloseleft")</div>
    <div class="menu-sep">
    </div>
    <div id="mm-exit">
        @Html.GetLangbyKey("Default_Html_mm_exit")</div>
</div>
<div id="dlg_Print" data-options="iconCls:'icon-print'" style="padding: 1px; display: none">
</div>
<div id="dlg_GlobalPrint" fit="true" data-options="iconCls:'icon-print'" style="padding: 1px;
    display: none">
    <iframe src="" style="width: 98%; height: 98%" id="frmPrintURL"></iframe>
</div>
<div id="dlg_GlobalDetail" fit="true" data-options="iconCls:'icon-save'" style="padding: 1px;
    width: 400px; height: 300px;">
</div>
<div id="dlg_GlobalPrintSheet" fit="true" data-options="iconCls:'icon-save'" style="padding: 1px;
    width: 400px; height: 300px;">
</div>
<div id="dlg_MsgAlert" style="padding: 1px; display: none">
    <input type="text" style="display: block; width: 0px; height: 0px; border: 0" id="txtGlobalTextInput"
        name="txtGlobalTextInput" />
    <div id="msgContent">
    </div>
</div>
