@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(LangHelper.WhichLang());
@Html.Raw(Html.LangOutJsVar("Default_JS_defaultTabTitle"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_AskForExit"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForPrint"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForExcel"));
@Html.Raw(Html.LangOutJsVar("Public_Print_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Save"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Close"));

</script>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>图片查询</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/JS/QueryPDF.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
</head>
<body>
    <div id="toolBar" style="padding: 2px; height: auto">
        <div>
            <a href="#" class="easyui-linkbutton" id="btnQuery" iconcls="icon-search" plain="true">
                查询</a>|<a href="javascript:void(0)" id="menuButtonReport" class="easyui-menubutton"
                    data-options="menu:'#menuButtons',iconCls:'icon-report'">报表</a>
            <div id="menuButtons" style="width: 150px;">
                <div id="btnPrint" name="btnPrint" data-options="iconCls:'icon-print'">
                    打印(PDF)</div>
                <div id="btnExcel" name="btnExcel" data-options="iconCls:'icon-excel'">
                    导出(EXCEL)</div>
            </div>
        </div>
        <div>
            生成时间:<input type="text" id="txtBeginD" name="txtBeginD" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" class="Wdate"  value='@(DateTime.Now.ToString("yyyy-MM-01 00:00:00"))' style="width:160px"/>---<input
            type="text" id="txtEndD" name="txtEndD" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" class="Wdate"   value='@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))' style="width:160px"/>
            &nbsp;&nbsp;&nbsp;&nbsp;标签号:<input type="text" id="txtPDFLabel" name="txtPDFLabel" />&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div id="DG_PDF" fit="true">
    </div>
</body>
</html>
