@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(LangHelper.WhichLang());
@Html.Raw(Html.LangOutJsVar("Default_JS_defaultTabTitle"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_AskForExit"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForPrint"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForExcel"));
@Html.Raw(Html.LangOutJsVar("Public_Print_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Save"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Close"));
</script>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>员工信息管理</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Highcharts/js/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Highcharts/js/modules/exporting.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/ChannelManagement.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
</head>
<body>
    <div id="DG_XRayInfo" fit="true">
    </div>
    <div id="dlg_Create_XRayInfo" data-options="iconCls:'icon-save'" style="padding: 5px;">
        <table>
            <tr>
                <td>
                    X光机名称
                </td>
                <td>
                    <input type="text" id="txtXRayName" name="txtXRayName" />
                    <input type="hidden" id="hd_XRayId" name="hd_XRayId" />
                </td>
            </tr>
            <tr>
                <td>
                    NVR名称
                </td>
                <td>
                    <input type="text" id="ddlNVRId" name="ddlNVRId" />
                </td>
            </tr>
            <tr>
                <td>
                    X光机类型
                </td>
                <td>
                    <input type="text" id="ddlXRayType" name="ddlXRayType" style="width: 300px" />
                </td>
            </tr>
            <tr>
                <td>
                    X光机通道号
                </td>
                <td>
                    <input type="text" id="txtXRayChannelNO" name="txtXRayChannelNO" />
                </td>
            </tr>
            <tr>
                <td>
                    坐标起点X
                </td>
                <td>
                    <input type="text" id="txtXBegin" name="txtXBegin" />
                </td>
            </tr>
            <tr>
                <td>
                    坐标起点Y
                </td>
                <td>
                    <input type="text" id="txtYBegin" name="txtYBegin" />
                </td>
            </tr>
            <tr>
                <td>
                    坐标终点Y
                </td>
                <td>
                    <input type="text" id="txtYEnd" name="txtYEnd" />
                </td>
            </tr>
            <tr>
                <td>
                    颜色临界值
                </td>
                <td>
                    <input type="text" id="txtCriticalValue" name="txtCriticalValue" />
                </td>
            </tr>
            <tr>
                <td>
                    X光机运行方向
                </td>
                <td>
                    <input type="text" id="ddlXRunDirection" name="ddlXRunDirection" />
                </td>
            </tr>
            <tr>
                <td>
                    启用与否
                </td>
                <td>
                    <input type="text" id="ddlUseFlag" name="ddlUseFlag" />
                </td>
            </tr>
            <tr>
                <td>
                    开始检测时间
                </td>
                <td>
                    <input type="text" id="txtBeginCheckTime" name="txtBeginCheckTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" class="Wdate"  value='@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))' style="width:160px"/>
                </td>
            </tr>
            <tr>
                <td>
                    上次检测时间
                </td>
                <td>
                    <input type="text" id="txtLastCheckTime" name="txtLastCheckTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" class="Wdate"  value='@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))' style="width:160px"/>
                </td>
            </tr>
            <tr>
                <td>
                    检测间隔
                </td>
                <td>
                    <input type="text" id="txtInterval" name="txtInterval" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
