@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(LangHelper.WhichLang());
@Html.Raw(Html.LangOutJsVar("Default_JS_defaultTabTitle"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_AskForExit"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForPrint"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForExcel"));
@Html.Raw(Html.LangOutJsVar("Public_Print_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Save"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Close"));

@Html.Raw(Html.LangOutJsVar("MapDesign_JS_Field1"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_Field2"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip1"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip2"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip3"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip4"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_AddMap"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip5"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip6"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip7"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_UpdateMap"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip8"));
@Html.Raw(Html.LangOutJsVar("MapDesign_JS_ErrorTip9"));
</script>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.GetLangbyKey("MapDesign_Html_Title")</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Highcharts/js/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Highcharts/js/modules/exporting.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/MapDesign.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
    <link href='@Url.Content("~/Css/MapPot.css")'   type="text/css" />
</head>
<body>
    <div id="layout_Main" class="easyui-layout" data-options="fit:true,border:false">
        <div region="west" split="true" style="width: 200px;" border="false">
            <div id="layout_Sub1" class="easyui-layout" data-options="fit:true,border:false">
                <div region="north" split="true" style="height: 350px; padding: 2px" border="true">
                    <div id="TVGroup" name="TVGroup" fit="true">
                    </div>
                </div>
                <div region="center" border="false" split="true" style="height: 20px;">
                    <center>
                        <font style="color: Red; font-weight: bold">【<span id="span_AreaName"></span>】@Html.GetLangbyKey("MapDesign_Html_Tip1")</font></center>
                </div>
                <div region="south" split="true" border="false">
                    <div id="layout_Sub2" class="easyui-layout" data-options="fit:true,border:false">
                        <div region="center" border="false" split="true" style="height: 60px;">
                            <a href="javascript:void(0)" id="btnAddMap" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">
                                @Html.GetLangbyKey("MapDesign_Html_Tip2")</a>|<a href="javascript:void(0)" id="btnUpdateMap" class="easyui-linkbutton"
                                    data-options="plain:true,iconCls:'icon-edit'">@Html.GetLangbyKey("MapDesign_Html_Tip3")</a><br />
                            <a href="javascript:void(0)" id="btnDeleteMap" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">
                                @Html.GetLangbyKey("MapDesign_Html_Tip4")</a>
                        </div>
                        <div region="south" split="true" style="height: 160px;" border="false">
                            <div id="DG_MapInfo" fit="true" style="width: 800px; height: 600px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div region="center" border="false" split="true">
            <div id="layout_Sub3" class="easyui-layout" data-options="fit:true,border:false">
                <div region="north" split="true" style="height: 45px;" border="true">
                    <span style="float: left">
                        <center>
                            <font style="color: Red; font-weight: bold; font-size: 22px">【<span id="span_Area_Detail"></span>】@Html.GetLangbyKey("MapDesign_Html_Tip5")【<span
                                id="span_MapName"></span>】@Html.GetLangbyKey("MapDesign_Html_Tip6")</font></center>
                    </span><span style="float: right; color: Blue; font-weight: bold; font-size: 15px">@Html.GetLangbyKey("MapDesign_Html_Tip7")</span>
                </div>
                <div region="center" border="false" split="true" style="height: 70px;">
                    <iframe id="iframeMapView" style="width: 99%; height: 98%; margin: 0px"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div id="div_MapAdd">
        <form method="post" id="form_MapAdd" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    @Html.GetLangbyKey("MapDesign_Html_Tip8"):
                </td>
                <td>
                    <span id="span_AreaName_MapAdd" style="font-weight: bold; color: Red"></span>
                    <input type="hidden" id="hid_AreaId_MapAdd" name="hid_AreaId_MapAdd" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("MapDesign_Html_Tip9"):
                </td>
                <td>
                    <input type="text" id="txtMapName_Add" name="txtMapName_Add" style="width: 300px" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("MapDesign_Html_Tip10"):
                </td>
                <td>
                    <input type="file" id="mapFile_Add" name="mapFile_Add" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="div_MapUpdate" style="padding: 2px">
        <form method="post" id="form_MapUpdate" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    @Html.GetLangbyKey("MapDesign_Html_Tip11"):
                </td>
                <td>
                    <span id="span_AreaName_MapUpdate" style="font-weight: bold; color: Red"></span>
                    <input type="hidden" id="hid_AreaId_MapUpdate" name="hid_AreaId_MapUpdate" />
                    <input type="hidden" id="hid_MapId_MapUpdate" name="hid_MapId_MapUpdate" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("MapDesign_Html_Tip12"):
                </td>
                <td>
                    <input type="text" id="txtMapName_Update" name="txtMapName_Update" style="width: 340px" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("MapDesign_Html_Tip13"):
                </td>
                <td>
                    <input type="text" id="mapFilePath_Old" name="mapFilePath_Old" style="width: 340px"
                        readonly />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("MapDesign_Html_Tip15"):
                </td>
                <td>
                    <input type="file" id="mapFile_Update" name="mapFile_Update" /><a href="javascript:void(0)"
                        id="btnClearNewMapFile" class="easyui-linkbutton" data-options="plain:false,iconCls:'icon-remove'">@Html.GetLangbyKey("MapDesign_Html_Tip16")</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <font style="color: Blue; font-weight: bold">@Html.GetLangbyKey("MapDesign_Html_Tip15")</font>
                </td>
            </tr>
        </table>
        </form>
    </div>
</body>
</html>
