@using ServiceCenter.Models;
<script type="text/javascript">
@Html.Raw(LangHelper.WhichLang());
@Html.Raw(Html.LangOutJsVar("Default_JS_defaultTabTitle"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_AskForExit"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForPrint"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_NoDataForExcel"));
@Html.Raw(Html.LangOutJsVar("Public_Print_Title"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Save"));
@Html.Raw(Html.LangOutJsVar("Public_Dialog_Close"));

@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Field1"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Field2"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Toolbar1"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Toolbar2"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Toolbar3"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Toolbar4"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Toolbar5"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Toolbar6"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Toolbar7"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_Toolbar8"));

@Html.Raw(Html.LangOutJsVar("UserManagement_JS_ErrorTip1"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_ErrorTip2"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_ErrorTip3"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_ErrorTip4"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_ErrorTip5"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_ErrorTip6"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_ErrorTip7"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_DialogAddTitle"));
@Html.Raw(Html.LangOutJsVar("UserManagement_JS_DialogUpdateTitle"));
</script>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.GetLangbyKey("UserManagement_Html_Title")</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/black/easyui.css")" rel="stylesheet"
        title="black" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/bootstrap/easyui.css")" rel="stylesheet"
        title="bootstrap"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/default/easyui.css")" rel="stylesheet"
        title="default"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/gray/easyui.css")" rel="stylesheet"
        title="gray"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/JqueryUI/themes/metro/easyui.css")" rel="stylesheet"
        title="metro"/>
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Highcharts/js/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Highcharts/js/modules/exporting.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/UserManagement.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
</head>
<body>
    <div id="DG_UserMaintain" fit="true">
    </div>
    <div id="dlg_Create_User" data-options="iconCls:'icon-save'" style="padding: 5px;">
        <table>
            <tr>
                <td>
                    @Html.GetLangbyKey("UserManagement_Html_Label1")
                </td>
                <td>
                    <input type="text" id="txtUserName" name="txtUserName" />
                    <input type="hidden" id="hd_UserId" name="hd_UserId" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("UserManagement_Html_Label2")
                </td>
                <td>
                    <input type="password" id="txtPassword" name="txtPassword" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("UserManagement_Html_Label3")
                </td>
                <td>
                    <input type="password" id="txtRePassword" name="txtRePassword" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.GetLangbyKey("UserManagement_Html_Label4")
                </td>
                <td>
                    <input type="text" id="ddlGroup" name="ddlGroup" style="width: 270px;" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
